#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

* {
  padding: 0;
  margin: 0;
  font-size: 1rem;
  margin-top: 0.5vh;
  margin-bottom: 0.5vh;
}

a {
  text-decoration: none;
  color: blue;
}

nav {
  width: 100%;
  height: 5vh;
  border: thin solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

section {
  width: 100%;
  border: thin solid black;
  height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

button {
  height: 4vh;
  width: 30vw;
}

#section-container {
  width: 100%;
  height: max-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.map {
  height: 50vh;
  width: 100vw;
  background-color: #0000ff;
  border: thin solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.maps {
  width: 100%;
  height: 55vh;
}

.map-container {
  height: 100%;
  width: 100%;
}

.chat-container {
  width: 70vw;
  border: thin solid black;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

#chat-form {
  width: 100%;
  height: 4vh;
  border: thin solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#chat-form > input {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: center;
}

#chat-form > button {
  width: 30%;
  height: 100%;
  border: thin solid black;
}

.chat-container > div {
  width: 100%;
  height: max-content;
  margin-bottom: 0.5vh;
  margin-top: 0.5vh;
}

.sender {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.receiver {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.receiver > p,
.sender > p {
  max-width: 70%;
  height: max-content;
  width: max-content;
  border: thin solid black;
  padding: 5px;
}

.receiver > p {
  background-color: azure;
  margin-right: 1vw;
}

.sender > p {
  margin-left: 1vw;
  background-color: cornflowerblue;
}
input:focus {
  outline: none;
}
